USE [master]
GO
/****** Object:  Database [WebStore]    Script Date: 11/25/2024 9:48:23 AM ******/
CREATE DATABASE [WebStore]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'WebStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'WebStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebStore]
GO
/****** Object:  Table [dbo].[class]    Script Date: 11/25/2024 9:48:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class](
    [class_id] [smallint] IDENTITY(1,1) NOT NULL,
    [class_code] [varchar](255) NULL,
    [class_name] [varchar](255) NULL,
    PRIMARY KEY CLUSTERED
(
[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[customer]    Script Date: 11/25/2024 9:48:24 AM ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[customer](
    [customer_id] [varchar](255) NOT NULL,
    [city] [varchar](255) NULL,
    [company] [varchar](255) NULL,
    [country] [varchar](255) NULL,
    [email] [varchar](255) NULL,
    [first_name] [varchar](255) NULL,
    [last_name] [varchar](255) NULL,
    [phone1] [varchar](255) NULL,
    [phone2] [varchar](255) NULL,
    [subscription_date] [datetime2](6) NULL,
    [website] [varchar](255) NULL,
    PRIMARY KEY CLUSTERED
(
[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[student]    Script Date: 11/25/2024 9:48:24 AM ******/
    SET ANSI_NULLS ON
    GO
    SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[student](
    [student_id] [int] IDENTITY(1,1) NOT NULL,
    [student_code] [varchar](255) NULL,
    [first_name] [varchar](255) NULL,
    [gender] [bit] NOT NULL,
    [last_name] [varchar](255) NULL,
    [class_id] [smallint] NULL,
    [email] [varchar](255) NULL,
    PRIMARY KEY CLUSTERED
(
[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY]
    GO
    SET IDENTITY_INSERT [dbo].[class] ON

    INSERT [dbo].[class] ([class_id], [class_code], [class_name]) VALUES (1, N'CNTT1', N'Cong nghe thong tin 1')
    INSERT [dbo].[class] ([class_id], [class_code], [class_name]) VALUES (2, N'CNTT2', N'An Toan Thong Tin1')
    INSERT [dbo].[class] ([class_id], [class_code], [class_name]) VALUES (3, N'CNTT3', N'Công Nghe Web')
    SET IDENTITY_INSERT [dbo].[class] OFF
    GO
    INSERT [dbo].[customer] ([customer_id], [city], [company], [country], [email], [first_name], [last_name], [phone1], [phone2], [subscription_date], [website]) VALUES (N'0001fA39dA6D349', N'South Angelica', N'Hood Inc', N'Chad', N'drew59@strong.info', N'Leon', N'Hendricks', N'(279)741-0423x69516', N'(314)147-9581', CAST(N'2020-07-31T00:00:00.0000000' AS DateTime2), N'http://owen.com/')
    INSERT [dbo].[customer] ([customer_id], [city], [company], [country], [email], [first_name], [last_name], [phone1], [phone2], [subscription_date], [website]) VALUES (N'002c9A213Db0067', N'Carrfurt', N'Levine-Larsen', N'Turkmenistan', N'robertamays@waters-joseph.com', N'Dale', N'Hendricks', N'975-431-3171', N'218-884-9029', CAST(N'2020-07-09T00:00:00.0000000' AS DateTime2), N'https://morse.com/')
    INSERT [dbo].[customer] ([customer_id], [city], [company], [country], [email], [first_name], [last_name], [phone1], [phone2], [subscription_date], [website]) VALUES (N'0115aEF33Ff7afC', N'Jenniferland', N'Burgess-Stephenson', N'Turkmenistan', N'barrerasamantha@manning.com', N'Philip', N'Harding', N'161-735-9006x7587', N'+1-442-009-7438x072', CAST(N'2020-05-10T00:00:00.0000000' AS DateTime2), N'http://rivera.net/')
    GO
    SET IDENTITY_INSERT [dbo].[student] ON

    INSERT [dbo].[student] ([student_id], [student_code], [first_name], [gender], [last_name], [class_id], [email]) VALUES (1, N'S001', N'John', 1, N'Doe123', 2, N'a@gmail.com')
    INSERT [dbo].[student] ([student_id], [student_code], [first_name], [gender], [last_name], [class_id], [email]) VALUES (2, N'S002', N'Jane', 1, N'Smith', 2, N'b@gmail.com')
    INSERT [dbo].[student] ([student_id], [student_code], [first_name], [gender], [last_name], [class_id], [email]) VALUES (3, N'S003', N'Alice', 0, N'Johnson', 3, N'c@gmail.com')
    SET IDENTITY_INSERT [dbo].[student] OFF
    GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD  CONSTRAINT [FKdwhkib64u47wc4yo4hk0cub90] FOREIGN KEY([class_id])
    REFERENCES [dbo].[class] ([class_id])
    GO
ALTER TABLE [dbo].[student] CHECK CONSTRAINT [FKdwhkib64u47wc4yo4hk0cub90]
    GO
    USE [master]
    GO
